# ignore saved datasets which are large sizes
dataset/**/*.h5

# ignore iPython notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# ignore already trained parameters
# we've commented out train/ because a separate .gitignore
# is added in that directory, to include the directory itself
# but not the sub-directories
# train/

# ignore the original dataset
dataset/F/
dataset/N/
dataset/O/
dataset/S/
dataset/Z/

